/*
 * Pages des DESIGN
 */
:root {
  --c-border: #888888;
}

[data-page="plan"] #menu-custom {
  height: 100%;
}

[data-page="plan"] ul.nav.custom-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

[data-page="plan"] ul.nav.custom-menu > li > a {
  border-radius: 50%;
}

[data-page="plan"] ul.nav.custom-menu li {
  border: 3px solid white;
  border-radius: 50%;
}
[data-page="plan"] ul.nav.custom-menu li.active {
  box-shadow: inset 0px 0px 30px 0px #fff
}
[data-page="plan"] ul.nav.custom-menu li:hover {
  box-shadow: inset 0px 0px 30px 10px #EEE;
}

[data-page="plan"] .eqLogic-widget,
[data-page="plan"] .cadre {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 1);
}

[data-page="plan"] .eqLogic-widget .widget-name,
[data-page="plan"] [data-category=""] .widget-name,
[data-page="plan"] .cadre .header {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 10px;
  font-size: 17px;
  font-weight: normal;
  margin: 1px;
}

[data-page="plan"] #div_pageContainer div.meteo-content > table > tbody > tr {
  background-color: transparent !important;
}

[data-page="plan"] .cadre .content {
  background-color: transparent;
}



[data-tags="table-custom"] table {
  border: 1px solid var(--c-border);
}
[data-tags="table-custom"] table tr {
  border: 1px solid var(--c-border);
}
[data-tags="table-custom"] table tr:first-of-type {
  background: pink;
}
[data-tags="table-custom"] table tr td {
  padding: .5rem;
}
[data-tags="table-custom"] table tr td:first-of-type {

}
[data-tags="table-custom"] table tr > td:first-of-type {
  border: 1px solid var(--c-border);
}

.icon_home {
  mask: url("images/icon_home.svg") center center/70% 70% no-repeat;
}
.icon_skydive {
  mask: url("images/icon_skydive.svg") center center/80% 80% no-repeat;
}
.icon_light {
  mask: url("images/icon_light.svg") center center/70% 70% no-repeat;
}
.icon_wine {
  mask: url("images/icon_wine.svg") center center/70% 70% no-repeat;
}
.icon_graf {
  mask: url("images/icon_graf.svg") center center/60% 60% no-repeat;
}
.icon_volets {
  mask: url("images/icon_volets.svg") center center/70% 70% no-repeat;
}
.icon_chauffage {
  mask: url("images/icon_chauffage.svg") center center/60% 60% no-repeat;
}
.icon_network {
  mask: url("images/icon_network.svg") center center/70% 70% no-repeat;
}
.icon {
  width: 90px;
  height: 90px;
  background: #fff;
}

/* Graff page Cave */
[data-page="plan"] [data-graph_id="84805437"].graph-widget {
  background-color: transparent !important;
  border: none !important;
}
[data-page="plan"] [data-graph_id="84805437"] .highcharts-plot-band {
  fill: transparent !important;
}
[data-page="plan"] [data-graph_id="84805437"] .highcharts-axis-labels > text,
[data-page="plan"] [data-graph_id="84805437"] .highcharts-legend-item:not(.highcharts-legend-item-hidden) text,
[data-page="plan"] [data-graph_id="84805437"] .highcharts-range-selector-buttons > text,
[data-page="plan"] [data-graph_id="84805437"] .highcharts-axis-labels text tspan {
  fill: white !important;
}

[data-page="plan"] [data-graph_id="84805437"] :not(.gauge) > .highcharts-container .highcharts-axis-line {
  stroke: white !important;
}
[data-page="plan"] [data-graph_id="84805437"] .highcharts-yaxis-grid .highcharts-grid-line {
  stroke-width: 0.3 !important;
  stroke: white !important;

}
